<%= form_for @user do |f| %>
	<% if @user.errors.any? %>
		<div>
			<% @user.errors.full_messages.each do |msg| %>
				<p><%= msg %></p>
			<% end %>
		</div>
	<% end %>
	
	<div class='field'>
		<%= f.label :email %>
		<%= f.email_field :email %>
	</div>
	
	<div class='field'>
		<%= f.label :password %>
		<%= f.password_field :password %>
	</div>
	
	<div class='field'>
		<%= f.label :password_confirmation %>
		<%= f.password_field :password_confirmation %>
	</div>
	
	<div>
		<%= f.submit %>
	</div>
<% end %>
